
  <form ng-submit="signup(user)" class="section container"> 
      <div class="field column is-6">
        <p class="control has-icons-left has-icons-right">
          <input 
            class="input" 
            type="text" 
            placeholder="Username"
            ng-model="user.username"
            >
          <span class="icon is-small is-left">
            <i class="fa fa-user"></i>
          </span>
        </p>
      </div>
      <div class="field column is-6">
        <p class="control has-icons-left has-icons-right">
          <input 
            class="input" 
            type="password" 
            placeholder="Password"
            ng-model="user.password"
            >
          <span class="icon is-small is-left">
            <i class="fa fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field column is-6">
        <p class="control">
          <button class="button is-success">
            Sign Up
          </button>
        </p>
      </div>
  </form>

